@namespace TVMazeWeb.Pages
@page "/"

@inject DataExchange _dataExchangeService

@{
    AppInfo   appInfo = new("Tvmaze", "Web UI", "DbAlternate");
    using var db      = new TvMaze();

    var numShows          = db.Shows.Count();
    var numFollowed       = db.Followeds.Count();
    var numFollowedShows  = db.Shows.Where(s => s.TvmStatus == "Following").Count();
    var numReviewingShows = db.Shows.Where(s => s.TvmStatus == "Reviewing").Count();
    var numNewShows       = db.Shows.Where(s => s.TvmStatus == "New").Count();
    var numSkipingShows   = db.Shows.Where(s => s.TvmStatus == "Skipping").Count();
    var numRunningShows   = db.Shows.Where(s => s.ShowStatus == "Running"          && s.TvmStatus == "Following").Count();
    var numTbdShows       = db.Shows.Where(s => s.ShowStatus == "To Be Determined" && s.TvmStatus == "Following").Count();
    var numInDevShows     = db.Shows.Where(s => s.ShowStatus == "In Development"   && s.TvmStatus == "Following").Count();
    var numEndedShows     = db.Shows.Where(s => s.ShowStatus == "Ended"            && s.TvmStatus == "Following").Count();

    var numEpisodes              = db.Episodes.Count();
    var numWatchedEpisodes       = db.Episodes.Where(e => e.PlexStatus == "Watched").Count();
    var numSkippedEpisodes       = db.Episodes.Where(e => e.PlexStatus == "Skipped").Count();
    var numAcquiredEpisodes      = db.Episodes.Where(e => e.PlexStatus == "Acquired").Count();
    var numFutureEpisodes        = db.Episodes.Where(e => e.PlexStatus == " " && e.BroadcastDate != null).Count();
    var numFutureUnknownEpisodes = db.Episodes.Where(e => e.PlexStatus == " " && e.BroadcastDate == null).Count();
}

@{ _dataExchangeService.LastPage = "Home"; }
<div>
    <h4>Shows Statistics</h4>
    <table class="table table-striped" style="font-size: 85%; line-height: 85%">
        <thead>
        <tr>
            <th>Type</th>
            <th>Description</th>
            <th># of Records</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Shows Table</td>
            <td>Total</td>
            <td>@numShows</td>
        </tr>
        <tr>
            <td>...Shows</td>
            <td>Status: New</td>
            <td>@numNewShows</td>
        </tr>
        <tr>
            <td>...Shows</td>
            <td>Status: Reviewing</td>
            <td>@numReviewingShows</td>
        </tr>
        <tr>
            <td>...Shows</td>
            <td>Status: Skipping</td>
            <td>@numSkipingShows</td>
        </tr>
        <tr>
            <td>...Shows</td>
            <td>Status: Following</td>
            <td>@numFollowedShows</td>
        </tr>
        <tr>
            <td>Followed Table</td>
            <td>Total</td>
            <td>@numFollowed</td>
        </tr>
        <tr>
            <td>...Shows (Following)</td>
            <td>Show Status: Running</td>
            <td>@numRunningShows</td>
        </tr>
        <tr>
            <td>...Shows (Following)</td>
            <td>Show Status: To Be Decided</td>
            <td>@numTbdShows</td>
        </tr>
        <tr>
            <td>...Shows (Following)</td>
            <td>Show Status: In Development</td>
            <td>@numInDevShows</td>
        </tr>
        <tr>
            <td>...Shows (Following)</td>
            <td>Show Status: Ended</td>
            <td>@numEndedShows</td>
        </tr>
        </tbody>
    </table>
</div>

<div>
    <h4>Episodes Statistics</h4>
    <table class="table table-striped" style="font-size: 85%; line-height: 85%">
        <thead>
        <tr>
            <th>Type</th>
            <th>Description</th>
            <th ># of Records</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Episodes Table</td>
            <td>Total</td>
            <td>@numEpisodes</td>
        </tr>
        <tr>
            <td>...Episodes</td>
            <td>Status: Watched</td>
            <td>@numWatchedEpisodes</td>
        </tr>
        <tr>
            <td>...Episodes</td>
            <td>Status: Available to Watch</td>
            <td>@numAcquiredEpisodes</td>
        </tr>
        <tr>
            <td>...Episodes</td>
            <td>Status: Skipped</td>
            <td>@numSkippedEpisodes</td>
        </tr>
        <tr>
            <td>...Episodes</td>
            <td>Status: Coming Soon</td>
            <td>@numFutureEpisodes</td>
        </tr>
        <tr>
            <td>...Episodes</td>
            <td>Status: Coming Unknown</td>
            <td>@numFutureUnknownEpisodes</td>
        </tr>
        </tbody>
    </table>
</div>