@page "/"


@{
    AppInfo appInfo = new("Tvmaze", "WebUI", "DbAlternate");

    string showCount = $"select count(*) from Shows";
    string followedCount = $"select count(*) from Followed";
    string followedShowsCount = $"select count(*) from Shows where `TvmStatus` = 'Following'";
    string reviewingShowsCount = $"select count(*) from Shows where `TvmStatus` = 'Reviewing'";
    string newShowsCount = $"select count(*) from Shows where `TvmStatus` = 'New'";
    string RunningShowsCount = $"select count(*) from Shows where `ShowStatus` = 'Running' and `TvmStatus` = 'Following'";
    string TBDShowsCount = $"select count(*) from Shows where `ShowStatus` = 'To Be Determined' and `TvmStatus` = 'Following'";
    string InDevShowsCount = $"select count(*) from Shows where `ShowStatus` = 'In Development' and `TvmStatus` = 'Following'";
    string EndedShowsCount = $"select count(*) from Shows where `ShowStatus` = 'Ended' and `TvmStatus` = 'Following'";

    string numShows = "";
    string numFollowed = "";
    string numFollowedShows = "";
    string numReviewingShows = "";
    string numNewShows = "";
    string numRunningShows = "";
    string numTBDShows = "";
    string numInDevShows = "";
    string numEndedShows = "";

    string episodeCount = $"select count(*) from Episodes";
    string episodeWatchedCount = $"select count(*) from Episodes where `PlexStatus` = 'Watched'";
    string episodeAcquiredCount = $"select count(*) from Episodes where `PlexStatus` = 'Acquired'";
    string episodeSkippedCount = $"select count(*) from Episodes where `PlexStatus` = 'Skipped'";
    string episodeFutureCount = $"select count(*) from Episodes where `PlexStatus` = ' ' and `BroadcastDate` is not NULL";
    string episodeFutureUnknownCount = $"select count(*) from Episodes where `PlexStatus` = ' ' and `BroadcastDate` is NULL";

    string numEpisodes = "";
    string numWatchedEpisodes = "";
    string numSkippedEpisodes = "";
    string numAcquiredEpisodes = "";
    string numFutureEpisodes = "";
    string numFutureUnknownEpisodes = "";

    MariaDB mdb = new(appInfo);
    MySqlConnector.MySqlDataReader rdr;

    rdr = mdb.ExecQuery(showCount);
    while (rdr.Read())
    {
        numShows = int.Parse(rdr[0].ToString()).ToString("###,##0");
    }
    mdb.Close();

    rdr = mdb.ExecQuery(followedCount);
    while (rdr.Read())
    {
        numFollowed = int.Parse(rdr[0].ToString()).ToString("###,##0");
    }
    mdb.Close();

    rdr = mdb.ExecQuery(followedShowsCount);
    while (rdr.Read())
    {
        numFollowedShows = int.Parse(rdr[0].ToString()).ToString("###,##0");
    }
    mdb.Close();

    rdr = mdb.ExecQuery(reviewingShowsCount);
    while (rdr.Read())
    {
        numReviewingShows = int.Parse(rdr[0].ToString()).ToString("###,##0");
    }
    mdb.Close();

    rdr = mdb.ExecQuery(newShowsCount);
    while (rdr.Read())
    {
        numNewShows = int.Parse(rdr[0].ToString()).ToString("###,##0");
    }
    mdb.Close();

    rdr = mdb.ExecQuery(RunningShowsCount);
    while (rdr.Read())
    {
        numRunningShows = int.Parse(rdr[0].ToString()).ToString("###,##0");
    }
    mdb.Close();

    rdr = mdb.ExecQuery(TBDShowsCount);
    while (rdr.Read())
    {
        numTBDShows = int.Parse(rdr[0].ToString()).ToString("###,##0");
    }
    mdb.Close();

    rdr = mdb.ExecQuery(InDevShowsCount);
    while (rdr.Read())
    {
        numInDevShows = int.Parse(rdr[0].ToString()).ToString("###,##0");
    }
    mdb.Close();

    rdr = mdb.ExecQuery(EndedShowsCount);
    while (rdr.Read())
    {
        numEndedShows = int.Parse(rdr[0].ToString()).ToString("###,##0");
    }
    mdb.Close();

    rdr = mdb.ExecQuery(episodeCount);
    while (rdr.Read())
    {
        numEpisodes = int.Parse(rdr[0].ToString()).ToString("###,##0");
    }
    mdb.Close();

    rdr = mdb.ExecQuery(episodeWatchedCount);
    while (rdr.Read())
    {
        numWatchedEpisodes = int.Parse(rdr[0].ToString()).ToString("###,##0");
    }
    mdb.Close();

    rdr = mdb.ExecQuery(episodeAcquiredCount);
    while (rdr.Read())
    {
        numAcquiredEpisodes = int.Parse(rdr[0].ToString()).ToString("###,##0");
    }
    mdb.Close();

    rdr = mdb.ExecQuery(episodeSkippedCount);
    while (rdr.Read())
    {
        numSkippedEpisodes = int.Parse(rdr[0].ToString()).ToString("###,##0");
    }
    mdb.Close();

    rdr = mdb.ExecQuery(episodeFutureCount);
    while (rdr.Read())
    {
        numFutureEpisodes = int.Parse(rdr[0].ToString()).ToString("###,##0");
    }
    mdb.Close();

    rdr = mdb.ExecQuery(episodeFutureUnknownCount);
    while (rdr.Read())
    {
        numFutureUnknownEpisodes = int.Parse(rdr[0].ToString()).ToString("###,##0");
    }
    mdb.Close();
}

<div>
    <h4>Shows Statistics</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Type</th>
                <th>Description</th>
                <th align="right"># of Records</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Shows Table</td>
                <td>Total</td>
                <td  align="right">@numShows</td>
            </tr>
            <tr>
                <td>...Shows</td>
                <td>Status: New</td>
                <td  align="right">@numNewShows</td>
            </tr>
            <tr>
                <td>...Shows</td>
                <td>Status: Reviewing</td>
                <td  align="right">@numReviewingShows</td>
            </tr>
            <tr>
                <td>...Shows</td>
                <td>Status: Following</td>
                <td  align="right">@numFollowedShows</td>
            </tr>
            <tr>
                <td>Followed Table</td>
                <td>Total</td>
                <td  align="right">@numFollowed</td>
            </tr>
            <tr>
                <td>...Shows (Following)</td>
                <td>Show Status: Running</td>
                <td align="right">@numRunningShows</td>
            </tr>
            <tr>
                <td>...Shows (Following)</td>
                <td>Show Status: To Be Decided</td>
                <td align="right">@numTBDShows</td>
            </tr>
            <tr>
                <td>...Shows (Following)</td>
                <td>Show Status: In Development</td>
                <td align="right">@numInDevShows</td>
            </tr>
            <tr>
                <td>...Shows (Following)</td>
                <td>Show Status: Ended</td>
                <td align="right">@numEndedShows</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <h4>Episodes Statistics</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Type</th>
                <th>Description</th>
                <th align="right"># of Records</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Episodes Table</td>
                <td>Total</td>
                <td align="right">@numEpisodes</td>
            </tr>
            <tr>
                <td>...Episodes</td>
                <td>Status: Watched</td>
                <td align="right">@numWatchedEpisodes</td>
            </tr>
            <tr>
                <td>...Episodes</td>
                <td>Status: Available to Watch</td>
                <td align="right">@numAcquiredEpisodes</td>
            </tr>
            <tr>
                <td>...Episodes</td>
                <td>Status: Skipped</td>
                <td align="right">@numSkippedEpisodes</td>
            </tr>
            <tr>
                <td>...Episodes</td>
                <td>Status: Coming Soon</td>
                <td align="right">@numFutureEpisodes</td>
            </tr>
            <tr>
                <td>...Episodes</td>
                <td>Status: Coming Unknown</td>
                <td align="right">@numFutureUnknownEpisodes</td>
            </tr>
        </tbody>
    </table>
</div>