@page "/"


@{
    AppInfo appInfo = new("Tvmaze", "WebUI", "DbAlternate");

    string showCount = $"select count(*) from Shows";
    string episodeCount = $"select count(*) from Episodes";
    string followedCount = $"select count(*) from Followed";
    string followedShowsCount = $"select count(*) from Shows where `TvmStatus` = 'Following'";
    string reviewingShowsCount = $"select count(*) from Shows where `TvmStatus` = 'Reviewing'";
    string newShowsCount = $"select count(*) from Shows where `TvmStatus` = 'New'";
    string RunningShowsCount = $"select count(*) from Shows where `ShowStatus` = 'Running' and `TvmStatus` = 'Following'";
    string TBDShowsCount = $"select count(*) from Shows where `ShowStatus` = 'To Be Determined' and `TvmStatus` = 'Following'";
    string InDevShowsCount = $"select count(*) from Shows where `ShowStatus` = 'In Development' and `TvmStatus` = 'Following'";
    string EndedShowsCount = $"select count(*) from Shows where `ShowStatus` = 'Ended' and `TvmStatus` = 'Following'";
    string numShows = "";
    string numEpisodes = "";
    string numFollowed = "";
    string numFollowedShows = "";
    string numReviewingShows = "";
    string numNewShows = "";
    string numRunningShows = "";
    string numTBDShows = "";
    string numInDevShows = "";
    string numEndedShows = "";

    MariaDB mdb = new(appInfo);
    MySqlConnector.MySqlDataReader rdr;

    rdr = mdb.ExecQuery(showCount);
    while (rdr.Read())
    {
        numShows = int.Parse(rdr[0].ToString()).ToString("###,###");
    }
    mdb.Close();

    rdr = mdb.ExecQuery(episodeCount);
    while (rdr.Read())
    {
        numEpisodes = int.Parse(rdr[0].ToString()).ToString("###,###");
    }
    mdb.Close();

    rdr = mdb.ExecQuery(followedCount);
    while (rdr.Read())
    {
        numFollowed = int.Parse(rdr[0].ToString()).ToString("###,###");
    }
    mdb.Close();

    rdr = mdb.ExecQuery(followedShowsCount);
    while (rdr.Read())
    {
        numFollowedShows = int.Parse(rdr[0].ToString()).ToString("###,###");
    }
    mdb.Close();

    rdr = mdb.ExecQuery(reviewingShowsCount);
    while (rdr.Read())
    {
        numReviewingShows = int.Parse(rdr[0].ToString()).ToString("###,###");
    }
    mdb.Close();

    rdr = mdb.ExecQuery(newShowsCount);
    while (rdr.Read())
    {
        numNewShows = int.Parse(rdr[0].ToString()).ToString("###,###");
    }
    mdb.Close();

    rdr = mdb.ExecQuery(RunningShowsCount);
    while (rdr.Read())
    {
        numRunningShows = int.Parse(rdr[0].ToString()).ToString("###,###");
    }
    mdb.Close();

    rdr = mdb.ExecQuery(TBDShowsCount);
    while (rdr.Read())
    {
        numTBDShows = int.Parse(rdr[0].ToString()).ToString("###,###");
    }
    mdb.Close();

    rdr = mdb.ExecQuery(InDevShowsCount);
    while (rdr.Read())
    {
        numInDevShows = int.Parse(rdr[0].ToString()).ToString("###,###");
    }
    mdb.Close();

    rdr = mdb.ExecQuery(EndedShowsCount);
    while (rdr.Read())
    {
        numEndedShows = int.Parse(rdr[0].ToString()).ToString("###,###");
    }
    mdb.Close();
}

<h1>Welcome to TVMaze and Plex Media System</h1>

<div>
    <h4>Shows Statistics</h4>
    <table class="table table-striped" style="width: 50%">
        <thead>
            <tr>
                <th>Type</th>
                <th>Description</th>
                <th># of Records</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Shows Table</td>
                <td>Total</td>
                <td>@numShows</td>
            </tr>
            <tr>
                <td>...Shows</td>
                <td>Status: New</td>
                <td>@numNewShows</td>
            </tr>
            <tr>
                <td>...Shows</td>
                <td>Status: Reviewing</td>
                <td>@numReviewingShows</td>
            </tr>
            <tr>
                <td>...Shows</td>
                <td>Status: Following</td>
                <td>@numFollowedShows</td>
            </tr>
            <tr>
                <td>Followed Table</td>
                <td>Total</td>
                <td>@numFollowed</td>
            </tr>
            <tr>
                <td>...Shows (Following)</td>
                <td>Show Status: Running</td>
                <td>@numRunningShows</td>
            </tr>
            <tr>
                <td>...Shows (Following)</td>
                <td>Show Status: To Be Decided</td>
                <td>@numTBDShows</td>
            </tr>
            <tr>
                <td>...Shows (Following)</td>
                <td>Show Status: In Development</td>
                <td>@numInDevShows</td>
            </tr>
            <tr>
                <td>...Shows (Following)</td>
                <td>Show Status: Ended</td>
                <td>@numEndedShows</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <h4>Episodes Statistics</h4>
    <table class="table table-striped" style="width: 50%">
        <thead>
            <tr>
                <th>Type</th>
                <th>Description</th>
                <th># of Records</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Episodes</td>
                <td>Total</td>
                <td>@numEpisodes</td>
            </tr>
        </tbody>
    </table>
</div>