@page "/"


@{
    AppInfo appInfo = new("Tvmaze", "WebUI", "DbAlternate");

    string showCount = $"select count(*) from Shows";
    string episodeCount = $"select count(*) from Episodes";
    string followedCount = $"select count(*) from Followed";
    string followedShowsCount = $"select count(*) from Shows where `TvmStatus` = 'Following'";
    string reviewingShowsCount = $"select count(*) from Shows where `TvmStatus` = 'Reviewing'";
    string newShowsCount = $"select count(*) from Shows where `TvmStatus` = 'New'";
    string numShows = "";
    string numEpisodes = "";
    string numFollowed = "";
    string numFollowedShows = "";
    string numReviewingShows = "";
    string numNewShows = "";

    MariaDB mdb = new(appInfo);
    MySqlConnector.MySqlDataReader rdr;

    rdr = mdb.ExecQuery(showCount);
    while (rdr.Read())
    {
        numShows = int.Parse(rdr[0].ToString()).ToString("###,###");
    }
    mdb.Close();

    rdr = mdb.ExecQuery(episodeCount);
    while (rdr.Read())
    {
        numEpisodes = int.Parse(rdr[0].ToString()).ToString("###,###");
    }
    mdb.Close();

    rdr = mdb.ExecQuery(followedCount);
    while (rdr.Read())
    {
        numFollowed = int.Parse(rdr[0].ToString()).ToString("###,###");
    }
    mdb.Close();

    rdr = mdb.ExecQuery(followedShowsCount);
    while (rdr.Read())
    {
        numFollowedShows = rdr[0].ToString();
    }
    mdb.Close();

    rdr = mdb.ExecQuery(reviewingShowsCount);
    while (rdr.Read())
    {
        numReviewingShows = rdr[0].ToString();
    }
    mdb.Close();

    rdr = mdb.ExecQuery(newShowsCount);
    while (rdr.Read())
    {
        numNewShows = rdr[0].ToString();
    }
    mdb.Close();
}

<h1>Welcome to TVMaze and Plex Media System</h1>

<p><h6>Start of Table</h6></p>

<div>
    <h4>Statistics Table</h4>
    <table style="width: 50%" , border="1">
        <tr>
            <th>Table</th>
            <th>Description</th>
            <th>Number</th>
        </tr>
        <tr>
            <td>Shows</td>
            <td># of Records</td>
            <!--<td>@numShows</td>-->
        </tr>
        <tr>
            <td>Shows</td>
            <td># of New</td>
            <!--<td>@numNewShows</td>-->
        </tr>
        <tr>
            <td>Shows</td>
            <td># of Reviewing</td>
            <!--<td>@numReviewingShows</td>-->
        </tr>
        <tr>
            <td>Shows</td>
            <td># of Followed</td>
            <!--<td>@numFollowedShows</td>-->
        </tr>
        <tr>
            <td>Followed</td>
            <td># of Records</td>
            <!--<td>@numFollowed</td>-->
        </tr>
        <tr>
            <td>Episodes</td>
            <td># of Records</td>
            <!--<td>@numEpisodes</td>-->
        </tr>
    </table>
    </div>

    <p><h6>End of Table</h6></p>
