@page "/shows"


@using TVMazeWeb.Data
@inject WebShows WebShowsService


@code {
    AppInfo appinfo = new("Tvmaze", "WebUI", "DbAlternate");
    private List<ShowsInfo> showsInfoList = new();
    string SearchString;

    private void ReviewNewShows()
    {
        showsInfoList = WebShowsService.GetShowsByTvmStatus(appinfo, "New");
    }

    private void ReviewReviewShows()
    {
        showsInfoList = WebShowsService.GetShowsByTvmStatus(appinfo, "Reviewing");
    }

    private void FindShows()
    {
        showsInfoList = WebShowsService.FindShows(appinfo, SearchString);
    }

    private void ButtonClicked()
    {
        SearchString = "";
    }

    private void DeleteShow(ShowsInfo si)
    {
        appinfo.TxtFile.Write($"Deleting Show {si.TvmShowId}: {si.ShowName}");
        bool result = WebShowsService.DeleteShow(appinfo, si.TvmShowId);
        ReviewNewShows();
        //StateHasChanged();
    }

}

<h1>Shows</h1>

<button class="btn btn-primary" @onclick="ReviewNewShows">New Shows</button>
<button class="btn btn-primary" @onclick="ReviewReviewShows">Review Shows</button>
<div>
    <div class="input-group mb-3">
        <button class="btn btn-primary" @onclick="FindShows">Find Shows</button>
        <div class="input-group-prepend">
            <span class="input-group-text">%</span>
        </div>
        <input @bind="SearchString" />
        <div class="input-group-append">
            <span class="input-group-text">%</span>
        </div>
    </div>
</div>

<p></p>

<div>
    <h6>Shows - Table</h6>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Show Id</th>
                <th>Name</th>
                <th>Url</th>
                <th>Alt Name</th>
                <th>Finder</th>
                <th>Media Type</th>
                <th>Status</th>
                <th>ShowStatus</th>
                <th>Update Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ShowsInfo si in showsInfoList)
            {
                <tr>
                    <td>@si.TvmShowId</td>
                    <td>@si.ShowName</td>
                    <td> <a href="@si.TvmUrl" target="_blank">TVMaze</a> </td>
                    <td>@si.AltShowName</td>
                    <td>@si.Finder</td>
                    <td>@si.MediaType</td>
                    <td>@si.TvmStatus</td>
                    <td>@si.ShowStatus</td>
                    <td>@si.UpdateDate.Substring(0, 10)</td>
                    <td>
                        <button class="btn btn-secondary" @onclick="ButtonClicked">Edit</button>
                        @if (@si.TvmStatus != "Following")
                        {<button class="btn btn-secondary" @onclick="@(() => DeleteShow(si))">Delete</button>}
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


