@page
@using Common_Lib;
@using TvmEntities;
@model IndexModel
@{
    ViewData["Title"] = "Show Data";
    AppInfo appinfo = new("Tvmaze", "Web TryOut", "DbProduction");
    appinfo.TxtFile.Start();
    appinfo.TxtFile.Write($"DbConnection: {appinfo.ActiveDBConn}");
    Show show = new(appinfo);
    show.FillViaTvmaze(1);
    appinfo.TxtFile.Write($"Show Name: {show.ShowName}");
}

<div class="text-center">
    <h2>Welcome</h2>
    <h1>Trying ASP.Net with Blazor</h1>
    <p>Building a Page to Show data from the TVMaze DB</p>
</div>

<div class="text-center">
    <h2>Application Info Table:</h2>
    <table style="width:100%", border="1">
        <tr>
            <th>Application Name</th>
            <th>Program Name</th>
        </tr>
        <tr>
            <td>@appinfo.Application</td>
            <td>@appinfo.Program</td>
        </tr>
    </table>
</div>

<div class="text-center">
    <br />
    <h2>Show Info Table:</h2>
    <table style="width:100%" , border="1">
        <tr>
            <th>DB Show Id</th>
            <th>Show Name</th>
            <th>Tvm Show Id</th>
            <th>Tvm Image</th>
        </tr>
        <tr>
            <td>@show.Id</td>
            <td>@show.ShowName</td>
            <td>@show.TvmShowId</td>
            <td><img src="@show.TvmImage" width="50" height="50" /></td>
        </tr>
    </table>
</div>

<div class="text-center">
    <br />
    <h2>The First 20 TVMaze Shows</h2>
    <p>
        Looping from 1 to 20 (Tvm Show Id 19 does not exist anymore) <br /><br />
        Loading of this page is slow, since the data collection for the list is<br />
        NOT using Async and later Rendering (YET)
    </p>
</div>

@{
    var exectime = new System.Diagnostics.Stopwatch();
    exectime.Start();
    SearchShowsOnTvmaze showsearch = new(appinfo, "");
    List<Show> showsfound = showsearch.Found;
    //List<Show> showsfound = new();
    if (showsfound.Count != 0)
    {
        <div class="text-center">
            <table style="width:100%" , border="1">
                <tr>
                    <th>DB Show Id</th>
                    <th>Show Name</th>
                    <th>Tvm Show Id</th>
                    <th>Tvm Image</th>
                </tr>
                @{  string DbSI = "";
                    string TvmSI = "";
                    foreach (Show rec in showsfound)
                    {
                        if (rec.Id == 0) { DbSI = "NiDB"; } else { DbSI = rec.Id.ToString(); }
                        if (rec.TvmShowId == 0) { TvmSI = "NoTvm"; } else { TvmSI = rec.TvmShowId.ToString(); }
                        <tr>
                            <td>@DbSI</td>
                            <td>@rec.ShowName</td>
                            <td>@TvmSI</td>
                            <td><img src="@rec.TvmImage" width="50" height="50" /></td>
                        </tr>
                    }
                }
            </table>
            @{
                exectime.Stop();
                <p>Last 5 Table Loading took @exectime.ElapsedMilliseconds ms.</p>
                }
        </div>
    }
}